<div id="footer_section">
    <div class="container row">
        <div class="hidden-lg hidden-md hidden-sm col-xs-12 hide_on_big">
            <div class="social_xs">
                <div class="links">
                    <a href="#">
                        <img src="{{ asset('oneaccount/images/icon_twitter.png') }}" alt="" class="rounded"/>
                    </a>
                    <a href="#">
                        <img src="{{ asset('oneaccount/images/icon_facebook.png') }}" alt="" class="rounded"/>
                    </a>
                    <a href="#">
                        <img src="{{ asset('oneaccount/images/open_bet_logo_black.png') }}" alt="" class="logo_img"/>
                    </a>
                    <a href="#">
                        <img src="{{ asset('oneaccount/images/icon_youtube.png') }}" alt="" class="rounded"/>
                    </a>
                    <a href="#">
                        <img src="{{ asset('oneaccount/images/icon_linkedin.png') }}" alt="" class="rounded"/>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 copyright">
            Copyright &copy; 2015 OpenBet Technologies Ltd.<br>
            Registered in England number 6712030.
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">

            <div class="logo_b">
                <a href="http://www.openbet.com/" target="_blank">
                    <img src="{{ asset('oneaccount/images/open_bet_logo_black.png') }}" alt=""/>
                </a>
            </div>

            <div class="social">
                <a href="https://twitter.com/openbet_ltd" target="_blank">
                    <img src="{{ asset('oneaccount/images/icon_twitter.png') }}" alt="Twitter" class="rounded"/>
                </a>
                <a href="https://www.facebook.com/OpenBet?ref=bookmarks" target="_blank">
                    <img src="{{ asset('oneaccount/images/icon_facebook.png') }}" alt="Facebook" class="rounded"/>
                </a>
                <a href="https://vimeo.com/openbet" target="_blank">
                    <img src="{{ asset('oneaccount/images/icon_youtube.png') }}" alt="" class="rounded"/>
                </a>
                <a href="https://www.linkedin.com/company/openbet?trk=company_logo" target="_blank">
                    <img src="{{ asset('oneaccount/images/icon_linkedin.png') }}" alt="" class="rounded"/>
                </a>
            </div>

        </div>
    </div>
</div>
</div>
