{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid wide">
        <div id="first_section">
            <div class="bird bird_one part2"></div>
            <div class="bird bird_two part2"></div>
            <div class="cloud1 part2"></div>
            <div class="cloud2 part2"></div>
            <div class="bird bird_one part1"></div>
            <div class="bird bird_two part1"></div>
            <div class="cloud1 part1"></div>
            <div class="cloud2 part1"></div>
            <div class="container">
                <img src="//{{ app.request.httpHost}}/images/logo-arc.png" alt="logo" style="position: absolute; top: 0; left: 0; width: 100%; z-index: 9999"/>
                <div class="logo">
                    {#   <img src="{{ asset('oneaccount/images/openbet@2x.png') }}" alt="logo" class="logo_img"/>

                    <p class="slogan">
                        One account.
                        <span>
                            Endless&nbsp;possibilities
                        </span>
                        </p> #}

                    <p class="click_more">
                        <img src="{{ asset('oneaccount/images/arrow_ld.png') }}" alt="" width="20" height="20" class="hidden-xs hidden-sm"/>
                        <span class="text-shadow hidden-xs hidden-sm">
                            Click to find out more information
                        </span>
                        <span class="text-shadow visible-xs visible-sm">
                            Tap to find out more information
                        </span>
                        <img src="{{ asset('oneaccount/images/arrow_rd.png') }}" alt="" width="20" height="20" class="hidden-xs hidden-sm"/>
                    </p>
                </div>
            </div>
            <div id="town" style="margin-top: 170px">
                <div id="street">
                    <div class="scene hidden-xs">
                        <div class="sceneitem bus hidden-xs">
                            <div class="flip-container bus">
                                <div class="flipper bus">
                                    <div class="front">
                                    </div>
                                    <div class="back">
                                        <div class="products-bt-h">

                                        </div>
                                        <div class="services-bt-h">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="landscape">
                            <div class="busstops">
                                <div class="busstop first"></div>
                                <div class="busstop second"></div>
                                <div class="busstop last"></div>
                            </div>
                            <div class="sceneitem casino">
                                <div class="flip-container casino">
                                    <div class="flipper casino">
                                        <div class="front">
                                        </div>
                                        <div class="back">
                                            <div class="products-bt-v">

                                            </div>
                                            <div class="services-bt-v">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sceneitem housedouble">
                                <div class="flip-container housedouble">
                                    <div class="flipper housedouble">
                                        <div class="front">
                                        </div>
                                        <div class="back">
                                            <div class="products-bt-v">

                                            </div>
                                            <div class="services-bt-v">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sceneitem offices">
                                <div class="flip-container offices">
                                    <div class="flipper offices">
                                        <div class="front">
                                        </div>
                                        <div class="back">
                                            <div class="products-bt-v">

                                            </div>
                                            <div class="services-bt-v">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sceneitem betshop">
                                <div class="flip-container betshop">
                                    <div class="flipper betshop">
                                        <div class="front">
                                        </div>
                                        <div class="back">
                                            <div class="products-bt-v">

                                            </div>
                                            <div class="services-bt-v">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sceneitem space">

                            </div>
                            <div class="sceneitem casino2">
                                <div class="flip-container casino">
                                    <div class="flipper casino">
                                        <div class="front">
                                        </div>
                                        <div class="back">
                                            <div class="products-bt-v">

                                            </div>
                                            <div class="services-bt-v">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sceneitem housedouble2">
                                <div class="flip-container housedouble">
                                    <div class="flipper housedouble">
                                        <div class="front">
                                        </div>
                                        <div class="back">
                                            <div class="products-bt-v">

                                            </div>
                                            <div class="services-bt-v">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tree1" class="hidden-xs hidden-sm">
                        <img src="{{ asset('oneaccount/images/trees-left@2x.png') }}" alt=""/>
                    </div>
                    <div id="tree2" class="hidden-xs hidden-sm">
                        <img src="{{ asset('oneaccount/images/trees-right@2x.png') }}" alt=""/>
                    </div>

                    <div class="scene-mobile visible-xs">
                        <div id="mobile-slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="scene-item betshop">
                                        <div class="flip-container betshop">
                                            <div class="flipper">
                                                <div class="front">
                                                    <img src="{{ asset('oneaccount/images/betshop@2x.png') }}" alt="">
                                                </div>
                                                <div class="back">
                                                    <img src="{{ asset('oneaccount/images/betshop-flip@2x.png') }}"
                                                         alt="">

                                                    <div class="products-bt-v">

                                                    </div>
                                                    <div class="services-bt-v">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="scene-item offices">
                                        <div class="flip-container offices">
                                            <div class="flipper">
                                                <div class="front">
                                                    <img src="{{ asset('oneaccount/images/offices@2x.png') }}" alt="">
                                                </div>
                                                <div class="back">
                                                    <img src="{{ asset('oneaccount/images/office-flip@2x.png') }}"
                                                         alt="">

                                                    <div class="products-bt-v">

                                                    </div>
                                                    <div class="services-bt-v">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="scene-item housedouble">
                                        <div class="flip-container housedouble">
                                            <div class="flipper">
                                                <div class="front">
                                                    <img src="{{ asset('oneaccount/images/housedouble@2x.png') }}"
                                                         alt="">
                                                </div>
                                                <div class="back">
                                                    <img src="{{ asset('oneaccount/images/house-flip@2x.png') }}"
                                                         alt="">

                                                    <div class="products-bt-v">

                                                    </div>
                                                    <div class="services-bt-v">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="scene-item bus">
                                        <div class="flip-container bus">
                                            <div class="flipper bus">
                                                <div class="front">
                                                </div>
                                                <div class="back">
                                                    <div class="products-bt-h">

                                                    </div>
                                                    <div class="services-bt-h">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="scene-item casino">
                                        <div class="flip-container casino">
                                            <div class="flipper">
                                                <div class="front">
                                                    <img src="{{ asset('oneaccount/images/casino@2x.png') }}" alt="">
                                                </div>
                                                <div class="back">
                                                    <img src="{{ asset('oneaccount/images/casino-fli@2x.png') }}"
                                                         alt="">

                                                    <div class="products-bt-v">

                                                    </div>
                                                    <div class="services-bt-v">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <a class="left carousel-control" href="#mobile-slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            <a class="right carousel-control" href="#mobile-slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
 -->                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="second_section" class="omnichannel">

            <!-- Nav tabs -->
            <div class="nav_here">
                <ul class="nav nav-tabs " role="tablist">
                    <li role="presentation" class="active" data-panelname="omnichannel">
                        <a href="#what_is_omnichannel" aria-controls="home" role="tab" data-toggle="tab">
                            <div class="marker_tab" data-panelname="omnichannel">Home</div>
                        </a>
                    </li>
                    <li role="presentation" class="products" data-panelname="products">
                        <a href="#products" aria-controls="messages" role="tab" data-toggle="tab">
                            <div class="marker_tab" data-panelname="products">Products
                            </div>
                        </a>
                    </li>
                    <li role="presentation" class="solutions" data-panelname="solutions">
                        <a href="#solutions" aria-controls="profile" role="tab" data-toggle="tab">
                            <div class="marker_tab" data-panelname="solutions">Solutions
                            </div>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="container">
                <div role="tabpanel">


                    <!-- Tab panes -->
                    <div class="tab-content ">
                        <div role="tabpanel" class="tab-pane fade in active" id="what_is_omnichannel">
                            <h3>What is Omni-Channel?</h3>

                            <p>
                                Welcome to the age of the consumer, where the player is the boss. Acquiring your
                                customers, keeping them happy and meeting their expectations is harder than ever before.
                                They expect and demand your products and services to be available whenever and wherever
                                they want them to be. Players DO NOT think in terms of channels, they simply think about
                                how quickly and easily they can do something.
                                We believe that a multi-channel solution  is an operational view about how you allow
                                the customer to complete transactions in each channel. An Omni-channel solution is about
                                viewing things through the eyes of your players.
                            </p>

                            <p>
                                An Omni-channel solution is not only about the convergence of online and land-based
                                gaming channels or having cross-device content. It is a about having one view of your
                                customer and providing them with the ability to have one account and one balance so that
                                they are always connected and engaged with your products.
                            </p>

                            <p>
                                An omni-channel solution means you can understand your customers and build a meaningful,
                                long-lasting relationship with them. This relationship will enable you to deliver a
                                personalised and tailored experience that will increase lifetime player values and
                                retention rates.
                                <br><strong>Omni-channel is multi-channel done right. </strong>
                            </p>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="solutions">
                            <h3>Solutions</h3>

                            <p>
                                A true Omni-channel solution needs to be multi-channel at its core. The OpenBet platform
                                has been built to be multi-channel from day one and, with our Omni-channel gaming
                                solutions, we can now take the Platform and the customer account into land-based
                                premises and devices.
                            </p>

                            <p>
                                But just offering an Omni-channel set of solutions isn't enough: in today's highly
                                competitive and commoditised market, you also need to be able to differentiate yourself
                                and your brand. With OpenBet's solutions you can choose the products you want, from the
                                suppliers you want, and you remain in control of your branding, portfolio and customer
                                experience &mdash; across all channels &mdash; and retain a 360-degree view of all
                                activity.
                            </p>

                            <div class="separator"></div>
                            <img src="{{ asset('oneaccount/images/icons_betting.png') }}" alt=""/>

                            <h3>Land-based gaming environments</h3>

                            <p>
                                This is where the magic really happens. With OpenBet Unify, for the first time, you can
                                link your land-based gaming to your iGaming account. Players now have one account, one
                                wallet and one balance. Bring your online customers into your land-based
                                premises &mdash; or
                                take your land-based customers online. With the OpenBet Omni-channel solution, a
                                contactless payment card links their land-based activity back to the One Account and
                                their single balance. The Unify card also enables the advent of new technology within
                                the land-based environment with the launch of fully functional in play betting options
                                via our self-service betting terminals. All at the touch of card! Seamless, convenient
                                entertainment for them and a complete 360-degree view for you.
                            </p>

                            <div class="separator"></div>
                            <img src="{{ asset('oneaccount/images/icons_web.png') }}" alt=""/>

                            <h3>Web</h3>

                            <p>
                                The web is a demanding marketplace with high expectations: 24/7, multiple platforms and
                                devices and your premier offering. OpenBet’s solutions can serve all product verticals,
                                all devices, scale to meet the demands of the largest operators and keep you in
                                control of the experience.
                            </p>

                            <div class="separator"></div>
                            <img src="{{ asset('oneaccount/images/icons_mobile_tablet.png') }}" alt=""/>

                            <h3>Mobile &amp; Tablet</h3>

                            <p>
                                OpenBet’s rich APIs and active partner programme give you the power to offer innovative
                                solutions on top of the world’s best sportsbook and content-rich casino. Deliver the
                                full power of your platform and reach your players anytime and anywhere.
                            </p>


                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="products">
                            <h3>Products</h3>

                            <div class="section-heading">
                                <!--<div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/unify-s-1.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <img src="{{ asset('oneaccount/images/unify-big.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/unify-s-2.png') }}" alt=""/>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h4>Unify</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                </div>

                            </div>

                            <p>
                                Unify – the key to starting your Omni-channel journey.<br>
                                Until now, the missing part of the Omni-channel solution was connecting your land-based
                                premises with your online account. OpenBet’s Unify card answers this need by giving your
                                customers a contactless payment card linked to an online account. For the first time you
                                can start to really get to know your players in store and understand their behaviour
                                across every channel to tailor your offer directly to them. Multi-channel customers have
                                proven to be 38% more profitable than single channel customers &mdash; don’t miss out on
                                this
                                incremental revenue stream, 'Unify' your channels today!
                            </p>

                            <p>
                                And the power of Unify card doesn’t stop there…the open framework allows any device
                                manufacturer to integrate their cabinets, tills and POS solutions so your entire
                                land-based offering can become cashless and seamlessly interact with your central
                                customer account.
                            </p>

                            <div class="separator"></div>

                            <div class="section-heading">

                            <!--<div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/account-s-1.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <img src="{{ asset('oneaccount/images/account-big.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/account-s-2.png') }}" alt=""/>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h4>Account</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                </div>

                            </div>

                            <p>
                                The customer account is the heart and soul of your gaming platform &mdash; for both you
                                and
                                your customers. The OpenBet Omni-channel account gives your customers seamless access to
                                their account and funds regardless of the channel they’re using and regardless of the
                                product or supplier.
                                Built to manage the specialised requirements of a gaming account, the OpenBet Account
                                can integrate with any gaming product and keep control of funding, session controls,
                                payments, channel and product restrictions &mdash; across all channels, products and
                                suppliers.
                            </p>

                            <p>
                                And no Account would be complete without promotions, so we have those too! One Account
                                for your customers’ ease of access and One Account for you for a 360-degree view of
                                their activity.
                            </p>

                            <a class="more_info" href="http://www.openbet.com/products/product/account" target="_blank">More
                                info</a>

                            <div class="separator"></div>

                            <div class="section-heading">
                            <!--<div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/sportsbook-s-1.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <img src="{{ asset('oneaccount/images/sportsbook.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/sportsbook-s-2.png') }}" alt=""/>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h4>Sportsbook</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                </div>
                            </div>
                            <p>
                                OpenBet’s Sportsbook is designed to be an Omni-channel solution at its core but with the
                                convenience and power of a single system to manage and run. You hold a single book, with
                                a combined view of risk, liability and customer activity. Activating a channel or
                                filtering a report is as simple and quick as selecting a check box. With the OpenBet
                                Sportsbook you can offer your customers any sport, live betting and novelty bets and
                                know that it has the scale and reliability to handle it all.
                            </p>

                            <p>
                                A comprehensive set of APIs and an Omni-channel content management system puts the
                                customer experience in your hands so you can tailor it to match your brand and your
                                customers’ expectations exactly
                            </p>
                            <a class="more_info" href="http://www.openbet.com/products/product/sportsbook"
                               target="_blank">More info</a>

                            <div class="separator"></div>
                            <div class="section-heading">

                                <!--<div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/casino-s-1.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <img src="{{ asset('oneaccount/images/casino-big.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/casino-s-2.png') }}" alt=""/>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h4>Casino</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                </div>
                            </div>

                            <p>
                                The OpenBet Casino is the ultimate casino for the sports betting market. With the widest
                                range of quality, leading content available in the market you can create a truly unique
                                experience tailored to the needs of your players. As our name suggests, it is a truly
                                open platform and with the OpenBet approach, you choose your own games from our
                                portfolio and personalise your site to attract and retain your customers.
                            </p>

                            <p>
                                Using the latest HTML5 technology, the OpenBet Casino carries an increasing number of
                                games that are available across all channels &mdash; there is no better way to encourage
                                cross-channel play.
                            </p>
                            <a class="more_info" href="http://www.openbet.com/products/product/casino" target="_blank">More
                                info</a>

                            <!--<a class="more_info" href="#">More info</a>-->

                            <div class="separator"></div>

                            <div class="section-heading">
                            <!--<div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/ubet-s-1.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <img src="{{ asset('oneaccount/images/ubet-big.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/ubet-s-2.png') }}" alt=""/>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h4>UBet</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                </div>

                            </div>

                            <p>
                                Self-Serve Betting.<br>
                                UBet uses the power of Unify and tablet computing to bring the OpenBet Sportsbook into
                                your land-based premises. UBet seamlessly connects the multi-channel account through the
                                Unify card with the multi-channel sportsbook and all the power and features that it
                                offers &mdash; including the world’s most powerful live betting solution.
                            </p>

                            <p>
                                UBet is built on top of the OpenBet SiteBuilder content management system, which means
                                that you are in control of the full customer experience. Using responsive design you can
                                even extend UBet to customers’ personal devices in your premises.
                            </p>

                            <div class="separator"></div>
                            <div class="section-heading">
                                <!--<div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/uplay-s-1.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <img src="{{ asset('oneaccount/images/uplay-big.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/uplay-s-2.png') }}" alt=""/>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h4>UPlay</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                </div>

                            </div>

                            <p>
                                Self-Serve Gaming.<br>
                                Gaming in today's land-based environment often consists of large, bulky and expensive cabinets
                                that take up valuable floor space and need to be a destination in themselves. OpenBet’s
                                UPlay uses the convenience and power of Unify to bring gaming on a tablet to anywhere in
                                your premises: in the lounge, at the bar, in the queue for the cashier &mdash; the small
                                footprint and low cost of tablet computing means they can go anywhere.
                            </p>

                            <p>
                                UPlay is built on OpenBet’s Casino and carries the same rich content set that you can
                                offer on your web and mobile solutions. Through the SiteBuilder content management
                                system you can control the user experience, tailoring it to your premises’ branding.
                            </p>

                            <div class="separator"></div>
                            <div class="section-heading">
                                <!--<div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/promote-s-1.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <img src="{{ asset('oneaccount/images/promote-big.png') }}" alt=""/>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{ asset('oneaccount/images/promote-s-2.png') }}" alt=""/>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h4>Promote</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                    </div>
                                </div>

                            </div>

                            <p>
                                Gaming is all about entertainment and land-based gaming needs a compelling set of
                                screens to bring the action and opportunities to your customers. OpenBet’s Promote
                                system is a high-impact betting, gaming and marketing display solution that provides a
                                dynamic canvas to deliver a truly engaging experience in sports bars, casinos, betting
                                shops and lottery retail environments. <br>
                                Capable of displaying live broadcasts from satellite, cable and terrestrial TV and
                                seamlessly combining them with overlays of betting opportunities and other marketing
                                campaigns, OpenBet Promote can drive a wide range of display equipment and sizes. With
                                the right content, you can increase footfall and premise dwell-time and, ultimately,
                                increase your consumer spend.
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="third_section">
            <div class="videoWrapper" id="video_block">
                <iframe src="//player.vimeo.com/video/118426584?title=0&amp;byline=0&amp;portrait=0&amp;color=ffc014"
                        width="500" height="213" frameborder="0" webkitallowfullscreen mozallowfullscreen
                        allowfullscreen></iframe>
            </div>
        </div>

        <div id="fourth_section">
            <div class="container row">

                {% if thankyouMessage is defined %}
                    <div class="panel panel-success" id="success_message">
                        <div class="panel-heading">
                           <h4> {{ thankyouMessage }} </h4>
                        </div>
                    </div>
                {% else %}

                {% endif %}


                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                    <a href="mailto:info@openbet.com">
                        <div class="image" style="background-image:url('{{ asset('oneaccount/images/bg_cont.jpg') }}')">
                            <div class="overlay">
                                <img src="{{ asset('oneaccount/images/icon1_.png') }}" alt=""/>
                            </div>
                        </div>
                        Contact us
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                    <a href="/oneaccount/pdfs/OpenBet-Omni-Channel-Diagram.pdf" onclick="_gaq.push(['_trackEvent', 'Downloads', 'PDF', 'OpenBet-Omni-Channel-Diagram.pdf']);" target="_blank">
                        <div class="image" style="background-image:url('{{ asset('oneaccount/images/bg_what.jpg') }}')">
                            <div class="overlay">
                                <img src="{{ asset('oneaccount/images/icon2_.png') }}" alt=""/>
                            </div>
                        </div>
                        What is Omni-Channel?
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                    <a href="/oneaccount/pdfs/OpenBet-Top-Ten-Considerations.pdf" onclick="_gaq.push(['_trackEvent', 'Downloads', 'PDF', 'OpenBet-Top-Ten-Considerations.pdf']);" target="_blank">
                        <div class="image" style="background-image:url('{{ asset('oneaccount/images/bg_cons.jpg') }}')">
                            <div class="overlay">
                                <img src="{{ asset('oneaccount/images/icon3_.png') }}" alt=""/>
                            </div>
                        </div>
                        What do you need to consider?
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                    <a href="https://vimeo.com/118426583" target="_blank">
                        <div class="image"
                             style="background-image:url('{{ asset('oneaccount/images/bg_coral.jpg') }}')">
                            <div class="overlay">
                                <img src="{{ asset('oneaccount/images/icon4_.png') }}" alt=""/>
                            </div>
                        </div>
                        Coral Connect
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
{% endblock %}
