{% extends 'admin_gcm_base.html.twig' %}

{% block content %}
<div id="page-admin">
    <h3>Response information</h3>
    <p>
        Name: <strong>{{ answer.name }}</strong><br />
        Lastname: <strong>{{ answer.lastname }}</strong><br />
        Company: <strong>{{ answer.company }}</strong><br />
        Position: <strong>{{ answer.position }}</strong><br />
        Email: <strong>{{ answer.email }}</strong>
    </p>
    <h3>Answers</h3>
    <p>
        Release Plan: <strong>{{ answer.getReleasePlanReadable }}</strong><br />
        File Type: <strong>{{ answer.getFileTypeReadable }}</strong><br />
        Environment: <strong>{{ answer.getEnvTypeReadable }}</strong><br />
        Environment Transition: <strong>{{ answer.envTypeTransition }}</strong><br />
        Flash Support: <strong>{{ answer.getFlashSupportReadable }}</strong><br />
        Flash Support Transition: <strong>{{ answer.flashSupportTransition }}</strong><br />
        HTML5 Titles available: <strong>{{ answer.htmlTitlesAvailable }}</strong><br />
        HTML5 Titles planned: <strong>{{ answer.htmlTitlesPlanned }}</strong><br />
        HTML5 Titles timeline: <strong>{{ answer.htmlTitlesTransition }}</strong><br />
    </p>
    <h3>Notes</h3>
    <p>
        {{ answer.notes }}
    </p>
    <a href="{{ path('gcmdesktop_admin') }}" class="btn btn-primary">
        <i class="fa fa-arrow-left fa-fw"></i>
        Back to list
    </a>
</div>
{% endblock %}
